{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
       {% if pro %}
        {% for el in pro %}
            <div class="alert alert-warning">
                <h3>{{ el.anons  }}</h3>
                <p>{{ el.full_text }}</p>
            </div>
        {% endfor %}
        {% else %}
        <p>У вас нет записей</p>
        {% endif %}
        {# Комментарий #}
    </div>
{% endblock %}