{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Наш сайт - это онлайн-платформа, посвященная информационным новостям, которые происходят как в России, так и за рубежом. Мы стремимся предоставить нашим читателям самую актуальную и достоверную информацию о событиях в различных областях: политике, экономике, науке, культуре и многом другом. Мы работаем постоянно, чтобы быть первыми, кто сообщит о главных событиях и происшествиях, происходящих в мире. Наша цель - быть вашим надежным источником новостей и оставаться вкурсе событий в быстроразвивающемся мире информации</p>
        <button class="btn btn-danger">Нажимай</button>
    </div>
{% endblock %}
